<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome  Dreamers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the worls of dreams.</h1>
        <h4 style="color: red;">NOTE:</h4>
        <p>GUYS ,This is a project created for fun.So please be understanding and type appropriate words.</p><br>
        <p>BY Wonder Women</p>
        <a href="{{ url_for('create') }}">Need A Pen to write</a>
    </div>
</body>
</html>
